@import "@/styles/fn";

.main {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content;
  grid-gap: 3%;
  justify-content: stretch;
  align-items: stretch;
  height: 120vh;

  background-color: $c-bg-lightgray;
  padding: 40px;
}

