// ? === === === === === === ===     h1
@mixin h1 {
    font-weight: $fw-xl;
}

// ? === === === === === === ===     h2
@mixin h2 {
    font-weight: $fw-xl;
    font-size: 28px;
}

// ? === === === === === === ===     h3
@mixin h3 {
    font-weight: $fw-xl;
    font-size: 22px;
}

// ? === === === === === === ===     h4
@mixin h4 {
    font-weight: $fw-xl;
    font-size: 18px;
}
@mixin h4-semi {
    font-weight: $fw-lg;
    font-size: 18px;
}
@mixin h4-medium {
    font-weight: $fw-md;
    font-size: 18px;
}
@mixin h4-regular {
    font-weight: $fw-sm;
    font-size: 18px;
}

// ? === === === === === === ===     h5
@mixin h5 {
    font-weight: $fw-xl;
    font-size: 15px;
}

// ? === === === === === === ===     h6
@mixin h6 {
    font-weight: $fw-lg;
    font-size: 15px;
}

// ? === === === === === === ===     body
@mixin body {
    font-weight: $fw-md;
    font-size: 13px;
}
