// ? fonts
// ? initial
@import "./initial/reset";
@import "./initial/scrollbar";
@import "./initial/hotToast";

// ? variables
@import "./fn";

html,
body {
    font-family: $ff-system;
    font-size: $fs-base;
    background: $c-bg-lightgray;
    color: $c-accent;
    // font-weight: $fw-sm;
}

#root {
    overflow: hidden;
}
