// ? === === === === === === ===     main
$fs-base: calc(15px + 0.390625vw);
$ff-inter: "Inter", sans-serif;
$ff-system: -apple-system, BlinkMacSystemFont, $ff-inter, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

// ? === === === === === === ===     font weight
$fw-3xs: 100;
$fw-2xs: 200;
$fw-xs: 300;

$fw-sm: 400;
$fw-md: 500;
$fw-lg: 600;

$fw-xl: 700;
$fw-2xl: 800;
$fw-3xl: 900;

// ? === === === === === === ===     scale
$scale-3xs: 0.01;
$scale-2xs: 0.02;
$scale-xs: 0.03;
$scale-md: 0.05;

// ? === === === === === === ===     stroke
$stroke-xs: 1px;
$stroke-sm: 2px;

// ? === === === === === === ===     shadow
$sh-xs: 0px 4px 10px;
$sh-sm: 0px 8px 25px;
$sh-md: 0px 10px 50px;

// ? === === === === === === ===     transition
$transition-1: ease;
$transition-2: cubic-bezier(0.17, 0.55, 0.55, 1);

$transition-1t: 0.3s;
$transition-2t: 0.5s;
$transition-3t: 0.8s;
$transition-4t: 1s;
$transition-5t: 1.5s;

// ? === === === === === === ===     z-index
$z-toaster: 100000;
