@import "@/styles/fn";

.Home {
  padding: 0 50px;
  height: 100vh;

  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 45%;
    height: auto;
  }

  span {
    width: 50%;

    display: flex;
    flex-direction: column;
    gap: 40px;

    h1 {
      @include h1;
    }

    h2 {
      @include h2;
      font-weight: normal;
    }

    button {
      max-width: 200px;
    }
  }
}