@import "@/styles/fn";

.NewTransactionBox {
  padding: 40px 25px;

  display: flex;
  flex-direction: column;
  gap: 30px;

  background-color: $c-bg-white;
  color: $c-dark;
  border-radius: 10px;

  h5 {
    @include h5;

    font-size: 18px;
  }

  .Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .upperForm {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .inputs {
        width: 100%;

        display: flex;
        flex-direction: column;
        gap: 20px;

        .span {
          display: flex;
          justify-content: space-between;
          gap: 20px;

          input {
            width: 46%;
          }
        }

        .desc {
          width: 100%;
        }
      }
    }
  }
}
