@import "/src/styles/fn";

.Button {
  @include h4-medium;

  padding: 15px 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  background: $c-accent;
  border: 2px solid $c-accent;

  transition: $transition-1 $transition-1t;

  &:hover {
    border-color: $c-accent;
    color: $c-accent;
    background-color: transparent;
  }
}
