@import "@/styles/fn";

.nav {
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 30px 0;
  width: 90px;
  background-color: $c-navbar;
}

.groupNav {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 35px;

  button {
    width: 24px;
    background-color: transparent;
    cursor: pointer;
    transition: $transition-1 $transition-1t;

    &:hover {
      cursor: pointer;
      filter: invert(1);
    }
  }

  a {
    width: 24px;

    svg {
      cursor: pointer;
      transition: $transition-1 $transition-1t;

      &:hover {
        cursor: pointer;
        filter: invert(1);
      }
    }
  }
}

.bottom {
  bottom: 30px;
}